.files {
    color : var(--ranks_files);
    height: calc(.25*var(--tile-size));
    grid-column: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
}